@use 'variables';
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  @media screen and (max-width: variables.$breakpoint){
    width:100vw;
    overflow-x: hidden;
  }
}
.wrapper {
    margin: 25px auto;
    padding: 40px 30px 0 30px;
    width: 1270px;
    height: calc(100vh - 50px);
    background-color: variables.$white;
    border: variables.$border;
    border-radius: 35px;
    box-shadow: variables.$box-shadow;
    position: relative;
    @media screen and (max-width: 1290px){
      width: calc(100vw - 40px);
    };
    @media screen and (max-width: variables.$breakpoint){
        margin:0;
        padding:0;
        border-radius: 0;
      height: 100vh;
      width:100vw;
      overflow-x: hidden;

    }
  }
  .flex-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: variables.$breakpoint){
      flex-direction: column;
      margin-top: 0;;
    }
  }
  .main {
    margin: 0 30px;
    
    @media screen and (max-width: variables.$breakpoint){
      margin: 0px;
    }
    .h1 {
      padding-left: 20px;
      color: #2F3740;
      font-size: 35px;
      @media screen and (max-width: variables.$breakpoint){
        font-size: 24px;
      }
    }
  }
.products{
  display:grid;
  margin: 0 auto;
  margin-top: 10px;
  grid-template-columns: repeat(4, 196px);
  grid-template-rows: repeat(4,350px);
  grid-gap: 20px 20px;
  height: calc( 100vh - 300px);
  overflow-y: scroll;
  @media screen and (max-width: 1100px){
    grid-template-columns: repeat(3, 196px);
    grid-template-rows: repeat(3,350px);
  }
  @media screen and (max-width: variables.$breakpoint){
    overflow: visible;
    grid-template-columns: repeat(2, 168px);
    grid-template-rows: repeat(2,350px);
    grid-gap: 10px 10px;
    height: auto;
    
  }

}
.product{
  background-color: variables.$white;
  .product-img-wrapper{
    width: 196px;
    height: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    @media screen and (max-width: variables.$breakpoint){
      width: 168px;
      height: 168px;
    }
  }
  img {
    max-height: 196px;
    max-width: 196px;
    @media screen and (max-width: variables.$breakpoint){
      max-width: 168px;
      max-height: 168px;
    }
  }
  .product-avaliability{
    display: inline-block;
    line-height: 20px;
    padding: 5px 5px;
    margin-left: 5px;
    background: rgba(106, 245, 39, 0.6);
    border-radius: 7px;
  }
  .product-description{
    display: flex;
    align-items: center;
    height:50px;
  padding: 5px 5px;
  }
  .product-price {
    padding-left: 5px;
  }
  .product-add-button{
    color:white;
    background-color: #F58989;
    height:40px;
    width:140px;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    margin-top:5px;
    margin-left: 20px;
  }
}