$white: #FFFFFF;
$black: #2F3740;
$redDark: #F58989;
$red: #F58A8A;
$green: #6A7685;
$wrapper-background: #616A92;
$border-color: #EAEFF9;
$breakpoint: 376px;
$border: 1px solid $border-color;
$box-shadow: 0px 5px 15px #AFB3C84D;